body{
    overflow-x: hidden;
    background-color: rgb(249, 207, 221);
}
h1{
    font-family: "Playwrite AR", cursive;
    font-optical-sizing: auto;
    font-weight: 10;
    font-style: normal;
    text-shadow: 1px 1px 4px;
}
hr{
    border-top: 1.5px solid black;
}

#container{
    display: flex;
    justify-content: space-between;
}

/* .content{
    display: flex;
    border-radius: 20px;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    background: repeating-radial-gradient(rgb(216,244,245),rgb(234,236,233));
    height: auto;
    width: 500px 
}
*/
.news{
    font-family:Verdana, Geneva, Tahoma, sans-serif;
}

video{
    margin-top: 10px;
    margin-left: 80px;
    box-shadow: 5px 5px 3px grey;
}

.video_info{
    margin-left: 100px;
}

.back{
    height: 45px;
    filter: brightness(150%);
}

.desc{
    border-radius: 1%;
    font-family:Verdana, Geneva, Tahoma, sans-serif;
    font-weight: 500;
    padding: 1%;
    width: 500px;
    background-color: rgb(248, 248, 248);
}

.img_below{
    margin-left: 100px;
    margin-top: 50px;
    font-family:Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    
}

.side{
    overflow-y:scroll;
    margin-top: 50px;
    margin-right: 25px; 
    background-color:  rgb(248, 248, 248);
    border-radius: 1%;
    width: 450px;
    height: 600px;
}

.list{
    background-color: rgb(234, 234, 234);
    display: flex;
    justify-content: space-between;
    gap: 10px;
}

.side img{
    height: 90px;
}

ul a{
    text-decoration: none;
}
